/* .heading {
    color: red;
} */

.heading {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    height: 140px;
    width: 140px;;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 22px;
} 

.nav-items > ul >li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.res-card {
    height: 400px;
    width: 200px;
    margin: 5px;
    padding: 5px;
    background-color:lightgrey;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    height: 130px;
    width: 100%;
}

.h4 {
    overflow-wrap: break-word;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.shimmer-card {
    height: 400px;
    width: 200px;
    margin: 5px;
    padding: 5px;
    background-color:lightgrey;
}

.filter {
    display: flex;
    padding: 5px;
}

.user-card {
    padding: 5px;
    border: 1px solid black;
}